*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background-image: url(vista-da-configuracao-e-do-controlador-de-teclado-para-jogos-de-neon-iluminado.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    
}


.container{
    background-color: rgba(180, 159, 159, 0.411);
    display: flex;
    gap: 90px;
    padding:40px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 2s;

}
.container h2:hover{
    font-size:35px;
}

.container h2{
    margin-left: 100px;
}

.principal{
    position: absolute;
    left: 60em;
}

h1{
    font-size: 34px;
    line-height: 4em;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;


}
#colorp{
    color: white;
    font-size: 5em;
    background: -webkit-linear-gradient(rgba(151, 2, 14, 0.726),rgba(158, 1, 85, 0.938));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    font-size: 40px ;
    font-family: unset;
    color: white;
    line-height: 50px ;
    letter-spacing: 1.5px;
}



