*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background-image: url(vista-da-configuracao-e-do-controlador-de-teclado-para-jogos-de-neon-iluminado.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    
}


.container{
    background-color: greenyellow;
    display: flex;
    gap: 70px;
    padding:40px;
}
.principal{
    position: absolute;
    left: 60em;
}

h1{
    font-size: 34px;
    line-height: 4em;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;


}
#colorp{
    font-size: 5em;
}



