*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board_game{
    background: url(resources/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 40em;
    border: 1px solid #000000;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.airplane{
    position: absolute;
    width: 80px;
    animation: airplane_animation 8s infinite linear;
}


@keyframes airplane_animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}


