.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    background: url(/website-design-slider-background-stockton.jpg);
    background-repeat: no-repeat;
    color: #1683DB;
}
h1{
    color:#DB302B;
    
}
.indice{
    color:#8F130E;
    font-family:Arial, Helvetica, sans-serif;
}
p{

}
.nli{
    text-decoration: none;
}
