.frente{
    display: block;
    background-color: rgb(197, 162, 97);
    background-repeat: no-repeat;
    padding: 19px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
.nli::after{
    text-decoration:  dashed;
    color: rgb(194, 33, 33);
}
.nli :hover{
    color: rgb(22, 56, 22);


}
h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkolivegreen;
    animation: both;
}
