.frente{
    display: block;
    background-color: wheat;
    background-repeat: no-repeat;
    padding: 19px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
.nli::after{
    text-decoration:  dashed;
    color: rosybrown;
}
.nli :hover{
    color: rgb(17, 238, 17);


}
h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkolivegreen;
    animation: both;
}
